[submodule "assets/js/requirejs"]
	path = assets/js/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "assets/js/text"]
	path = assets/js/text
	url = git://github.com/requirejs/text.git
[submodule "assets/js/dust"]
	path = assets/js/dust
	url = git://github.com/akdubya/dustjs.git
[submodule "assets/js/html5shiv"]
	path = assets/js/html5shiv
	url = git://github.com/aFarkas/html5shiv.git
[submodule "assets/js/prefixfree"]
	path = assets/js/prefixfree
	url = git://github.com/LeaVerou/prefixfree.git
