[submodule "assets/js/requirejs"]
	path = assets/js/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "assets/js/text"]
	path = assets/js/text
	url = git://github.com/requirejs/text.git
[submodule "assets/js/mustash"]
	path = assets/js/mustash
	url = git://github.com/janl/mustache.js.git
