/*
    Colour scheme used in this document: http://www.colourlovers.com/palette/34448/2_Kool_for_Skool
*/

/* Page */
body {
    /*
        Using a background from Subtle Patterns: http://subtlepatterns.com/diamond-upholstery/
        I set the background colour to something found in the image to make it seem to be loading faster.
    */
    background: #EBEBEB url('/assets/images/diamonds.png');

    /*
        This will cascade the default font styles down the document.
    */
    font-family: 'Karla', sans-serif;
    color: #626266;
}

/* Content wrapper */
.wrapper {
    /*
        This wrapper floats left inside the container to stretch to the height of the rows.
        So I can set a background and it will cover all rows height.
        You can't do this with the container because it is not floated.
    */
    float: left;

    /*
        This sets a semi-transparent background colour which falls back to a similar solid colour in older browsers.
    */
    background: #F7F7F7;
    background: rgba(255, 255, 255, 0.6);
}

/* Text */
p {
    hyphens: auto;
}

a {
    color: #BC925A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Helpers */
.hidden {
    display: none;
}

.bordered {
    /*
        This will put a border in the middle of the columns.
    */
    border-right: 2px solid #626266;
    margin-right: 11px;
    padding-right: 11px;
}

/* Rows */
.description {
    /*
        This pulls the description row up past the logo slightly.
    */
    position: relative;
    margin-top: -100px;
}

/* Forms */
.label, .button {
    margin-top: 1em;
}

.label, .button, .textbox {
    display: block;
}

.textbox {
    display: block;
    background-color: #3D3D3F;
    border: 1px solid #020304;
    border-radius: 3px;
    color: #999999;
    
    transition: ease 300ms;
    transition-property: background, color;
}

.textbox:focus {
    background-color: #626266;
    color: #FFFFFF;
}

.generate-button {
    border: 1px solid #000000;
    background-color: #541F14;
    color: #EEEEEE;
    display: block;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    transition: ease 300ms background;
}

.generate-button:hover {
    background-color: #722A1B;
}